# Global Configuration
SPRING_PROFILES_ACTIVE=dev
INTERNAL_API_KEY=vdhV3ZhWQfKU30y74zQ45kbkY0jtwA9K3GurD2XYmafqEmUCjK2MMtgdSUC8MdBz+sdUVODwBsJpk+rLQAmFA==

#Database Configuration
DATASOURCE_USERNAME=user
DATASOURCE_PASSWORD=user

# JPA Configuration
JPA_CONFIG_DDL=update
JPA_CONFIG_SHOW_SQL=true

# Swagger Configuration
UI_DOCUMENTATION_ENABLE=true

# Hotel Service Auth
AUTH_DATABASE_NAME=auth_db
AUTH_DATABASE_URL=jdbc:postgresql://localhost:5432/auth_db
JWT_SECRET=UlzGl9TYRLzPDJ4uMVhGc8oH1kH2Dvn4ikKCMGlOC50TboF5ZKj4MJld7cFgAxLVqJOFJE2QfiWY7TtvhalMsQ==
JWT_EXPIRATION=3600
REFRESH_JWT_EXPIRATION=604800000
JWT_TOKEN_TYPE=Bearer

# Hotel Service Catalog
CATALOG_DATABASE_NAME=catalog_db
CATALOG_DATABASE_URL=jdbc:postgresql://localhost:5432/catalog_db

# Hotel Service Availability
AVAILABILITY_DATABASE_NAME=availability_db
AVAILABILITY_DATABASE_URL=jdbc:postgresql://localhost:5432/availability_db

# Hotel Service Booking
BOOKING_DATABASE_NAME=booking_db
BOOKING_DATABASE_URL=jdbc:postgresql://localhost:5432/booking_db