# Global Configuration
SPRING_PROFILES_ACTIVE=dev

#Database Configuration
DATASOURCE_USERNAME=hotel_username
DATASOURCE_PASSWORD=hotel_password

#JPA Configuration
JPA_CONFIG_DDL=update
JPA_CONFIG_SHOW_SQL=true

#Swagger Configuration
UI_DOCUMENTATION_ENABLE=true

#Hotel Service Auth
AUTH_DATABASE_NAME=auth_db
AUTH_DATABASE_URL=jdbc:postgresql://localhost:5432/auth_db

#Hotel Service Catalog
CATALOG_DATABASE_NAME=catalog_db
CATALOG_DATABASE_URL=jdbc:postgresql://localhost:5432/catalog_db

#Hotel Service Availability
AVAILABILITY_DATABASE_NAME=availability_db
AVAILABILITY_DATABASE_URL=jdbc:postgresql://localhost:5432/availability_db

#Hotel Service Booking
BOOKING_DATABASE_NAME=booking_db
BOOKING_DATABASE_URL=jdbc:postgresql://localhost:5432/booking_db


