# Global Configuration
SPRING_PROFILES_ACTIVE=dev
INTERNAL_API_KEY=vdhV3ZhWQfKU30y74zQ45kbkY0jtwA9K3GurD2XYmafqEmUCjK2MMtgdSUC8MdBz+sdUVODwBsJpk+rLQAmFA==

#Database Configuration
DATASOURCE_USERNAME=user
DATASOURCE_PASSWORD=user

# JPA Configuration
JPA_CONFIG_DDL=update
JPA_CONFIG_SHOW_SQL=true

# Swagger Configuration
UI_DOCUMENTATION_ENABLE=true

# Hotel Service Auth
AUTH_DATABASE_NAME=auth_db
AUTH_DATABASE_URL=jdbc:postgresql://localhost:5432/auth_db
AUTH_SERVICE_URL=http://ms-auth:8081
JWT_SECRET=UlzGl9TYRLzPDJ4uMVhGc8oH1kH2Dvn4ikKCMGlOC50TboF5ZKj4MJld7cFgAxLVqJOFJE2QfiWY7TtvhalMsQ==
JWT_EXPIRATION=3600
JWT_REFRESH_EXPIRATION=604800000
JWT_TOKEN_TYPE=Bearer

# Hotel Service Catalog
CATALOG_DATABASE_NAME=catalog_db
CATALOG_DATABASE_URL=jdbc:postgresql://localhost:5432/catalog_db
CATALOG_SERVICE_URL=http://ms-catalog:8082
CLOUDINARY_CLOUD_NAME=product-environment-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
HOTEL_CATALOG_CACHE_ENABLED=true
HOTEL_CATALOG_CACHE_TTL_MINUTES=10
HOTEL_CATALOG_CACHE_MAX_SIZE=500

# Hotel Service Availability
AVAILABILITY_DATABASE_NAME=availability_db
AVAILABILITY_SERVICE_URL=http://ms-availability:8084
AVAILABILITY_DATABASE_URL=jdbc:postgresql://localhost:5432/availability_db

# Hotel Service Booking
BOOKING_DATABASE_NAME=booking_db
BOOKING_SERVICE_URL=http://ms-booking:8083
BOOKING_DATABASE_URL=jdbc:postgresql://localhost:5432/booking_db

# Hotel Service Gateway
GATEWAY_ALLOWED_METHODS=GET,POST,PUT,DELETE
GATEWAY_ALLOWED_ORIGINS=http://localhost:4200
REDIS_PORT=6379
REDIS_HOST=localhost
GATEWAY_RESPONSE_TIMEOUT=5s
GATEWAY_CONNECT_TIMEOUT=5000
GATEWAY_MAX_AGE=5000
GATEWAY_REPLENISH_RATE=10
GATEWAY_BURST_CAPACITY=2
GATEWAY_REQUEST_TOKEN=1

# Hotel Service Agent
AGENT_SERVICE_URL=http://ms-agent:8086

# Kafka service
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Email (Brevo SMTP)
EMAIL_EXTERNAL_KEY=your_smtp_key
EMAIL_SESSION=user_id@smtp-brevo.com
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587